@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }

    section#login {
        height: 58vh;
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 992px) { /* Desktop */
    body {
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }
    
    section#login {
        height: 55vh;
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    section#login > div#formulario {
        float: left;
        height: 100%;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.1em;
        margin-bottom: 10px;
    }
}